In [1]:
import pandas as pd
import polars as pl
import sqlite3

In [2]:
#determine what columns we want to keep
columns_to_keep = ['SUBJECT_ID', 'BIRTH_YEAR', 'GENDER_FACTOR', 'RACE_FACTOR', 'ETHNICITY_FACTOR', 'AGE_START_YEARS', 'AGE_END_YEARS', 'ATOPIC_DERM_START', 'ATOPIC_DERM_END', 'ALLERGIC_RHINITIS_START', 'ALLERGIC_RHINITIS_END', 'ASTHMA_START', 'ASTHMA_END', 'FIRST_ASTHMARX', 'LAST_ASTHMARX', 'NUM_ASTHMARX']

#load CSV file into a dataframe
df_csv = pl.read_csv("food-allergy-analysis-Zenodo.csv").select(columns_to_keep)
df_csv.head()

shape: (5, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ SUBJECT_I ┆ BIRTH_YEA ┆ GENDER_FA ┆ RACE_FACT ┆ … ┆ ASTHMA_EN ┆ FIRST_AST ┆ LAST_ASTH ┆ NUM_ASTH │
│ D         ┆ R         ┆ CTOR      ┆ OR        ┆   ┆ D         ┆ HMARX     ┆ MARX      ┆ MARX     │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ i64       ┆ i64       ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1         ┆ 2006      ┆ S1 -      ┆ R1 -      ┆ … ┆ NA        ┆ NA        ┆ NA        ┆ NA       │
│           ┆           ┆ Female    ┆ Black     ┆   ┆           ┆           ┆           ┆          │
│ 2         ┆ 1994      ┆ S1 -      ┆ R0 -      ┆ … ┆ NA        ┆ 12.262833 ┆ 18.880219 ┆ 2        │
│           ┆           ┆ Female    ┆ White     ┆   ┆           ┆ 6755647   ┆ 028063    ┆          │
│ 3         ┆ 2006      ┆ S0 - Male ┆ R0 -      ┆ … ┆ NA        ┆ 1.4045174 ┆ 6.1574264 ┆ 4        │
│           ┆           ┆           ┆ White     ┆   ┆           ┆ 5379877   ┆ 202601    ┆          │
│ 4         ┆ 2004      ┆ S0 - Male ┆ R4 -      ┆ … ┆ NA        ┆ NA        ┆ NA        ┆ NA       │
│           ┆           ┆           ┆ Unknown   ┆   ┆           ┆           ┆           ┆          │
│ 5         ┆ 2006      ┆ S1 -      ┆ R1 -      ┆ … ┆ NA        ┆ NA        ┆ NA        ┆ NA       │
│           ┆           ┆ Female    ┆ Black     ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [3]:
df_csv.describe()

shape: (9, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ describe  ┆ SUBJECT_I ┆ BIRTH_YEA ┆ GENDER_FA ┆ … ┆ ASTHMA_EN ┆ FIRST_AST ┆ LAST_ASTH ┆ NUM_ASTH │
│ ---       ┆ D         ┆ R         ┆ CTOR      ┆   ┆ D         ┆ HMARX     ┆ MARX      ┆ MARX     │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ f64       ┆ f64       ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 333200.0  ┆ 333200.0  ┆ 333200    ┆ … ┆ 333200    ┆ 333200    ┆ 333200    ┆ 333200   │
│ null_coun ┆ 0.0       ┆ 0.0       ┆ 0         ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 0        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 166600.5  ┆ 2001.2611 ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│           ┆           ┆ 91        ┆           ┆   ┆           ┆           ┆           ┆          │
│ std       ┆ 96186.699 ┆ 6.603479  ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│           ┆ 184       ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ min       ┆ 1.0       ┆ 1983.0    ┆ S0 - Male ┆ … ┆ 10.001368 ┆ 1.0020533 ┆ 1.0020533 ┆ 1        │
│           ┆           ┆           ┆           ┆   ┆ 9253936   ┆ 8809035   ┆ 8809035   ┆          │
│ 25%       ┆ 83301.0   ┆ 1996.0    ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ 50%       ┆ 166601.0  ┆ 2002.0    ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ 75%       ┆ 249900.0  ┆ 2007.0    ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ max       ┆ 333200.0  ┆ 2012.0    ┆ S1 -      ┆ … ┆ NA        ┆ NA        ┆ NA        ┆ NA       │
│           ┆           ┆           ┆ Female    ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [4]:
#dropping all rows that have a negitave AGE_START_YEARS
df_csv = df_csv.filter(df_csv['AGE_START_YEARS'] >= 0)
df_csv.describe()

shape: (9, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ describe  ┆ SUBJECT_I ┆ BIRTH_YEA ┆ GENDER_FA ┆ … ┆ ASTHMA_EN ┆ FIRST_AST ┆ LAST_ASTH ┆ NUM_ASTH │
│ ---       ┆ D         ┆ R         ┆ CTOR      ┆   ┆ D         ┆ HMARX     ┆ MARX      ┆ MARX     │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ f64       ┆ f64       ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 333175.0  ┆ 333175.0  ┆ 333175    ┆ … ┆ 333175    ┆ 333175    ┆ 333175    ┆ 333175   │
│ null_coun ┆ 0.0       ┆ 0.0       ┆ 0         ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 0        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 166597.43 ┆ 2001.2608 ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│           ┆ 7302      ┆ 72        ┆           ┆   ┆           ┆           ┆           ┆          │
│ std       ┆ 96186.767 ┆ 6.603568  ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│           ┆ 275       ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ min       ┆ 1.0       ┆ 1983.0    ┆ S0 - Male ┆ … ┆ 10.001368 ┆ 1.0020533 ┆ 1.0020533 ┆ 1        │
│           ┆           ┆           ┆           ┆   ┆ 9253936   ┆ 8809035   ┆ 8809035   ┆          │
│ 25%       ┆ 83297.0   ┆ 1996.0    ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ 50%       ┆ 166596.0  ┆ 2002.0    ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ 75%       ┆ 249898.0  ┆ 2007.0    ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ max       ┆ 333200.0  ┆ 2012.0    ┆ S1 -      ┆ … ┆ NA        ┆ NA        ┆ NA        ┆ NA       │
│           ┆           ┆           ┆ Female    ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [5]:
#dropping rows where all specified columns columns have null values
drop_na_columns = ['ATOPIC_DERM_START', 'ATOPIC_DERM_END', 'ALLERGIC_RHINITIS_START', 'ALLERGIC_RHINITIS_END', 'ASTHMA_START', 'ASTHMA_END', 'FIRST_ASTHMARX', 'LAST_ASTHMARX', 'NUM_ASTHMARX']


# Filter rows where any of the specified columns have at least one non-null value
filtered_df = df_csv.filter(
    (df_csv[drop_na_columns[0]].is_not_null()) |
    (df_csv[drop_na_columns[1]].is_not_null()) |
    (df_csv[drop_na_columns[2]].is_not_null()) |
    (df_csv[drop_na_columns[3]].is_not_null()) |
    (df_csv[drop_na_columns[4]].is_not_null()) |
    (df_csv[drop_na_columns[5]].is_not_null()) |
    (df_csv[drop_na_columns[6]].is_not_null()) |
    (df_csv[drop_na_columns[7]].is_not_null()) |
    (df_csv[drop_na_columns[8]].is_not_null())
)

# Display the resulting DataFrame to confirm the count of subject_id's has reduced 
filtered_df.describe()

shape: (9, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ describe  ┆ SUBJECT_I ┆ BIRTH_YEA ┆ GENDER_FA ┆ … ┆ ASTHMA_EN ┆ FIRST_AST ┆ LAST_ASTH ┆ NUM_ASTH │
│ ---       ┆ D         ┆ R         ┆ CTOR      ┆   ┆ D         ┆ HMARX     ┆ MARX      ┆ MARX     │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ f64       ┆ f64       ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 333175.0  ┆ 333175.0  ┆ 333175    ┆ … ┆ 333175    ┆ 333175    ┆ 333175    ┆ 333175   │
│ null_coun ┆ 0.0       ┆ 0.0       ┆ 0         ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 0        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 166597.43 ┆ 2001.2608 ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│           ┆ 7302      ┆ 72        ┆           ┆   ┆           ┆           ┆           ┆          │
│ std       ┆ 96186.767 ┆ 6.603568  ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│           ┆ 275       ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ min       ┆ 1.0       ┆ 1983.0    ┆ S0 - Male ┆ … ┆ 10.001368 ┆ 1.0020533 ┆ 1.0020533 ┆ 1        │
│           ┆           ┆           ┆           ┆   ┆ 9253936   ┆ 8809035   ┆ 8809035   ┆          │
│ 25%       ┆ 83297.0   ┆ 1996.0    ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ 50%       ┆ 166596.0  ┆ 2002.0    ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ 75%       ┆ 249898.0  ┆ 2007.0    ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ max       ┆ 333200.0  ┆ 2012.0    ┆ S1 -      ┆ … ┆ NA        ┆ NA        ┆ NA        ┆ NA       │
│           ┆           ┆           ┆ Female    ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [6]:
#view data to confirm rows contain values in at least one column regarding allergies ['ATOPIC_DERM_START', 'ATOPIC_DERM_END', 'ALLERGIC_RHINITIS_START', 'ALLERGIC_RHINITIS_END', 'ASTHMA_START', 'ASTHMA_END', 'FIRST_ASTHMARX', 'LAST_ASTHMARX', 'NUM_ASTHMARX']
filtered_df.head()

shape: (5, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ SUBJECT_I ┆ BIRTH_YEA ┆ GENDER_FA ┆ RACE_FACT ┆ … ┆ ASTHMA_EN ┆ FIRST_AST ┆ LAST_ASTH ┆ NUM_ASTH │
│ D         ┆ R         ┆ CTOR      ┆ OR        ┆   ┆ D         ┆ HMARX     ┆ MARX      ┆ MARX     │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ i64       ┆ i64       ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1         ┆ 2006      ┆ S1 -      ┆ R1 -      ┆ … ┆ NA        ┆ NA        ┆ NA        ┆ NA       │
│           ┆           ┆ Female    ┆ Black     ┆   ┆           ┆           ┆           ┆          │
│ 2         ┆ 1994      ┆ S1 -      ┆ R0 -      ┆ … ┆ NA        ┆ 12.262833 ┆ 18.880219 ┆ 2        │
│           ┆           ┆ Female    ┆ White     ┆   ┆           ┆ 6755647   ┆ 028063    ┆          │
│ 3         ┆ 2006      ┆ S0 - Male ┆ R0 -      ┆ … ┆ NA        ┆ 1.4045174 ┆ 6.1574264 ┆ 4        │
│           ┆           ┆           ┆ White     ┆   ┆           ┆ 5379877   ┆ 202601    ┆          │
│ 4         ┆ 2004      ┆ S0 - Male ┆ R4 -      ┆ … ┆ NA        ┆ NA        ┆ NA        ┆ NA       │
│           ┆           ┆           ┆ Unknown   ┆   ┆           ┆           ┆           ┆          │
│ 5         ┆ 2006      ┆ S1 -      ┆ R1 -      ┆ … ┆ NA        ┆ NA        ┆ NA        ┆ NA       │
│           ┆           ┆ Female    ┆ Black     ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [7]:
# Split the "RACE_FACTOR" column into a "RACE_ID" column and "RACE" column
filtered_df = filtered_df.with_columns(
    [
        pl.col("RACE_FACTOR")
        .str.split_exact(" - ", 1)
        .struct.rename_fields(["RACE_ID", "RACE"])
        .alias("fields"),
    ]
).unnest("fields")

# Drop the original column
filtered_df = filtered_df.drop('RACE_FACTOR')


filtered_df.head()

shape: (5, 17)
┌────────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬─────────┬─────────┐
│ SUBJECT_ID ┆ BIRTH_YEAR ┆ GENDER_FAC ┆ ETHNICITY ┆ … ┆ LAST_ASTH ┆ NUM_ASTHM ┆ RACE_ID ┆ RACE    │
│ ---        ┆ ---        ┆ TOR        ┆ _FACTOR   ┆   ┆ MARX      ┆ ARX       ┆ ---     ┆ ---     │
│ i64        ┆ i64        ┆ ---        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ str     ┆ str     │
│            ┆            ┆ str        ┆ str       ┆   ┆ str       ┆ str       ┆         ┆         │
╞════════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═════════╪═════════╡
│ 1          ┆ 2006       ┆ S1 -       ┆ E0 - Non- ┆ … ┆ NA        ┆ NA        ┆ R1      ┆ Black   │
│            ┆            ┆ Female     ┆ Hispanic  ┆   ┆           ┆           ┆         ┆         │
│ 2          ┆ 1994       ┆ S1 -       ┆ E0 - Non- ┆ … ┆ 18.880219 ┆ 2         ┆ R0      ┆ White   │
│            ┆            ┆ Female     ┆ Hispanic  ┆   ┆ 028063    ┆           ┆         ┆         │
│ 3          ┆ 2006       ┆ S0 - Male  ┆ E1 -      ┆ … ┆ 6.1574264 ┆ 4         ┆ R0      ┆ White   │
│            ┆            ┆            ┆ Hispanic  ┆   ┆ 202601    ┆           ┆         ┆         │
│ 4          ┆ 2004       ┆ S0 - Male  ┆ E1 -      ┆ … ┆ NA        ┆ NA        ┆ R4      ┆ Unknown │
│            ┆            ┆            ┆ Hispanic  ┆   ┆           ┆           ┆         ┆         │
│ 5          ┆ 2006       ┆ S1 -       ┆ E0 - Non- ┆ … ┆ NA        ┆ NA        ┆ R1      ┆ Black   │
│            ┆            ┆ Female     ┆ Hispanic  ┆   ┆           ┆           ┆         ┆         │
└────────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴─────────┴─────────┘

In [8]:
# Split the "ETHNICITY_FACTOR" column into a "ETHNICITY_ID" column and "ETHNICITY" column
filtered_df = filtered_df.with_columns(
    [
        pl.col("ETHNICITY_FACTOR")
        .str.split_exact(" - ", 1)
        .struct.rename_fields(["ETHNICITY_ID", "ETHNICITY"])
        .alias("fields"),
    ]
).unnest("fields")

# Drop the original column
filtered_df = filtered_df.drop('ETHNICITY_FACTOR')

filtered_df.head()

shape: (5, 18)
┌────────────┬────────────┬────────────┬───────────┬───┬─────────┬─────────┬───────────┬───────────┐
│ SUBJECT_ID ┆ BIRTH_YEAR ┆ GENDER_FAC ┆ AGE_START ┆ … ┆ RACE_ID ┆ RACE    ┆ ETHNICITY ┆ ETHNICITY │
│ ---        ┆ ---        ┆ TOR        ┆ _YEARS    ┆   ┆ ---     ┆ ---     ┆ _ID       ┆ ---       │
│ i64        ┆ i64        ┆ ---        ┆ ---       ┆   ┆ str     ┆ str     ┆ ---       ┆ str       │
│            ┆            ┆ str        ┆ f64       ┆   ┆         ┆         ┆ str       ┆           │
╞════════════╪════════════╪════════════╪═══════════╪═══╪═════════╪═════════╪═══════════╪═══════════╡
│ 1          ┆ 2006       ┆ S1 -       ┆ 0.093087  ┆ … ┆ R1      ┆ Black   ┆ E0        ┆ Non-Hispa │
│            ┆            ┆ Female     ┆           ┆   ┆         ┆         ┆           ┆ nic       │
│ 2          ┆ 1994       ┆ S1 -       ┆ 12.232717 ┆ … ┆ R0      ┆ White   ┆ E0        ┆ Non-Hispa │
│            ┆            ┆ Female     ┆           ┆   ┆         ┆         ┆           ┆ nic       │
│ 3          ┆ 2006       ┆ S0 - Male  ┆ 0.010951  ┆ … ┆ R0      ┆ White   ┆ E1        ┆ Hispanic  │
│ 4          ┆ 2004       ┆ S0 - Male  ┆ 2.398357  ┆ … ┆ R4      ┆ Unknown ┆ E1        ┆ Hispanic  │
│ 5          ┆ 2006       ┆ S1 -       ┆ 0.013689  ┆ … ┆ R1      ┆ Black   ┆ E0        ┆ Non-Hispa │
│            ┆            ┆ Female     ┆           ┆   ┆         ┆         ┆           ┆ nic       │
└────────────┴────────────┴────────────┴───────────┴───┴─────────┴─────────┴───────────┴───────────┘

In [9]:
# Create a new column that re-codes the "GENEDER_FACTOR" column to be one character
filtered_df = filtered_df.with_columns([
    pl.col('GENDER_FACTOR').apply(lambda value: 'F' if value == "S1 - Female" else ('M' if value == "S0 - Male" else "O")).alias('GENDER')
])

# Drop the original column
filtered_df = filtered_df.drop('GENDER_FACTOR')

filtered_df.head()

C:\Users\coast\AppData\Local\Temp\ipykernel_2780\3623422084.py:3: DeprecationWarning: `apply` is deprecated. It has been renamed to `map_elements`.
  pl.col('GENDER_FACTOR').apply(lambda value: 'F' if value == "S1 - Female" else ('M' if value == "S0 - Male" else "O")).alias('GENDER')

shape: (5, 18)
┌────────────┬────────────┬────────────┬────────────┬───┬─────────┬───────────┬───────────┬────────┐
│ SUBJECT_ID ┆ BIRTH_YEAR ┆ AGE_START_ ┆ AGE_END_YE ┆ … ┆ RACE    ┆ ETHNICITY ┆ ETHNICITY ┆ GENDER │
│ ---        ┆ ---        ┆ YEARS      ┆ ARS        ┆   ┆ ---     ┆ _ID       ┆ ---       ┆ ---    │
│ i64        ┆ i64        ┆ ---        ┆ ---        ┆   ┆ str     ┆ ---       ┆ str       ┆ str    │
│            ┆            ┆ f64        ┆ f64        ┆   ┆         ┆ str       ┆           ┆        │
╞════════════╪════════════╪════════════╪════════════╪═══╪═════════╪═══════════╪═══════════╪════════╡
│ 1          ┆ 2006       ┆ 0.093087   ┆ 3.164956   ┆ … ┆ Black   ┆ E0        ┆ Non-Hispa ┆ F      │
│            ┆            ┆            ┆            ┆   ┆         ┆           ┆ nic       ┆        │
│ 2          ┆ 1994       ┆ 12.232717  ┆ 18.880219  ┆ … ┆ White   ┆ E0        ┆ Non-Hispa ┆ F      │
│            ┆            ┆            ┆            ┆   ┆         ┆           ┆ nic       ┆        │
│ 3          ┆ 2006       ┆ 0.010951   ┆ 6.726899   ┆ … ┆ White   ┆ E1        ┆ Hispanic  ┆ M      │
│ 4          ┆ 2004       ┆ 2.398357   ┆ 9.111567   ┆ … ┆ Unknown ┆ E1        ┆ Hispanic  ┆ M      │
│ 5          ┆ 2006       ┆ 0.013689   ┆ 6.193018   ┆ … ┆ Black   ┆ E0        ┆ Non-Hispa ┆ F      │
│            ┆            ┆            ┆            ┆   ┆         ┆           ┆ nic       ┆        │
└────────────┴────────────┴────────────┴────────────┴───┴─────────┴───────────┴───────────┴────────┘

In [10]:
# Round all decimal columns to 3 decimal places in DF
filtered_df = filtered_df.with_columns([
    pl.col('AGE_START_YEARS').round(3),
    pl.col('AGE_END_YEARS').round(3),
    pl.col('ATOPIC_DERM_START').round(3),
    pl.col('ATOPIC_DERM_END').round(3),
    pl.col('ALLERGIC_RHINITIS_START').round(3),
    pl.col('ALLERGIC_RHINITIS_END').round(3),
    pl.col('ASTHMA_START').round(3),
    pl.col('ASTHMA_END').round(3),
    pl.col('FIRST_ASTHMARX').round(3),
    pl.col('LAST_ASTHMARX').round(3)
])

filtered_df

InvalidOperationError: `round` operation not supported for dtype `str`

In [11]:
# Create a dataframe containing: RACE_ID and RACE
race_df = filtered_df.select(pl.col('RACE_ID', 'RACE').unique())

# display df
race_df

shape: (5, 2)
┌─────────┬───────────────────────────┐
│ RACE_ID ┆ RACE                      │
│ ---     ┆ ---                       │
│ str     ┆ str                       │
╞═════════╪═══════════════════════════╡
│ R1      ┆ Unknown                   │
│ R2      ┆ Black                     │
│ R3      ┆ Asian or Pacific Islander │
│ R4      ┆ White                     │
│ R0      ┆ Other                     │
└─────────┴───────────────────────────┘

In [12]:
# Create a dataframe containing: ETHNICITY ID AND ETHNICITY
ethnicity_df = filtered_df.select(pl.col('ETHNICITY_ID', 'ETHNICITY').unique())

# display df
ethnicity_df

shape: (2, 2)
┌──────────────┬──────────────┐
│ ETHNICITY_ID ┆ ETHNICITY    │
│ ---          ┆ ---          │
│ str          ┆ str          │
╞══════════════╪══════════════╡
│ E1           ┆ Non-Hispanic │
│ E0           ┆ Hispanic     │
└──────────────┴──────────────┘

In [13]:
# Create a dataframe containing: SUBJECT_ID, BIRTH_YEAR, GENDER, RACE_ID, and ETHNICITY_ID
subject_df = filtered_df.select(pl.col('SUBJECT_ID', 'BIRTH_YEAR', 'AGE_START_YEARS', 'AGE_END_YEARS', 'GENDER', 'RACE_ID', 'ETHNICITY_ID'))

subject_df.head()

shape: (5, 7)
┌────────────┬────────────┬─────────────────┬───────────────┬────────┬─────────┬──────────────┐
│ SUBJECT_ID ┆ BIRTH_YEAR ┆ AGE_START_YEARS ┆ AGE_END_YEARS ┆ GENDER ┆ RACE_ID ┆ ETHNICITY_ID │
│ ---        ┆ ---        ┆ ---             ┆ ---           ┆ ---    ┆ ---     ┆ ---          │
│ i64        ┆ i64        ┆ f64             ┆ f64           ┆ str    ┆ str     ┆ str          │
╞════════════╪════════════╪═════════════════╪═══════════════╪════════╪═════════╪══════════════╡
│ 1          ┆ 2006       ┆ 0.093087        ┆ 3.164956      ┆ F      ┆ R1      ┆ E0           │
│ 2          ┆ 1994       ┆ 12.232717       ┆ 18.880219     ┆ F      ┆ R0      ┆ E0           │
│ 3          ┆ 2006       ┆ 0.010951        ┆ 6.726899      ┆ M      ┆ R0      ┆ E1           │
│ 4          ┆ 2004       ┆ 2.398357        ┆ 9.111567      ┆ M      ┆ R4      ┆ E1           │
│ 5          ┆ 2006       ┆ 0.013689        ┆ 6.193018      ┆ F      ┆ R1      ┆ E0           │
└────────────┴────────────┴─────────────────┴───────────────┴────────┴─────────┴──────────────┘

In [16]:
# Create a dataframe containing: SUBJECT_ID, ASTHMA_START, ASTHMA_END, FIRST_ASTHMARX, LAST_ASTHMARX, and NUM_ASTHMARX
asthma_df = filtered_df.select(pl.col('SUBJECT_ID', 'ASTHMA_START', 'ASTHMA_END', 'FIRST_ASTHMARX', 'LAST_ASTHMARX', 'NUM_ASTHMARX'))

asthma_df.head()

shape: (5, 6)
┌────────────┬──────────────────┬────────────┬──────────────────┬─────────────────┬──────────────┐
│ SUBJECT_ID ┆ ASTHMA_START     ┆ ASTHMA_END ┆ FIRST_ASTHMARX   ┆ LAST_ASTHMARX   ┆ NUM_ASTHMARX │
│ ---        ┆ ---              ┆ ---        ┆ ---              ┆ ---             ┆ ---          │
│ i64        ┆ str              ┆ str        ┆ str              ┆ str             ┆ str          │
╞════════════╪══════════════════╪════════════╪══════════════════╪═════════════════╪══════════════╡
│ 1          ┆ NA               ┆ NA         ┆ NA               ┆ NA              ┆ NA           │
│ 2          ┆ NA               ┆ NA         ┆ 12.2628336755647 ┆ 18.880219028063 ┆ 2            │
│ 3          ┆ 5.12799452429843 ┆ NA         ┆ 1.40451745379877 ┆ 6.1574264202601 ┆ 4            │
│ 4          ┆ NA               ┆ NA         ┆ NA               ┆ NA              ┆ NA           │
│ 5          ┆ NA               ┆ NA         ┆ NA               ┆ NA              ┆ NA           │
└────────────┴──────────────────┴────────────┴──────────────────┴─────────────────┴──────────────┘

In [19]:
# Create a dataframe containing: SUBJECT_ID, ALLERGIC_RHINITIS_START, ALLERGIC_RHINITIS_END, FIRST_ASTHMARX, LAST_ASTHMARX, and NUM_ASTHMARX
rhinitis_df = filtered_df.select(pl.col('SUBJECT_ID', 'ALLERGIC_RHINITIS_START', 'ALLERGIC_RHINITIS_END', 'FIRST_ASTHMARX', 'LAST_ASTHMARX', 'NUM_ASTHMARX'))

rhinitis_df.head()

shape: (5, 6)
┌────────────┬─────────────────┬─────────────────┬─────────────────┬────────────────┬──────────────┐
│ SUBJECT_ID ┆ ALLERGIC_RHINIT ┆ ALLERGIC_RHINIT ┆ FIRST_ASTHMARX  ┆ LAST_ASTHMARX  ┆ NUM_ASTHMARX │
│ ---        ┆ IS_START        ┆ IS_END          ┆ ---             ┆ ---            ┆ ---          │
│ i64        ┆ ---             ┆ ---             ┆ str             ┆ str            ┆ str          │
│            ┆ str             ┆ str             ┆                 ┆                ┆              │
╞════════════╪═════════════════╪═════════════════╪═════════════════╪════════════════╪══════════════╡
│ 1          ┆ NA              ┆ NA              ┆ NA              ┆ NA             ┆ NA           │
│ 2          ┆ NA              ┆ NA              ┆ 12.262833675564 ┆ 18.88021902806 ┆ 2            │
│            ┆                 ┆                 ┆ 7               ┆ 3              ┆              │
│ 3          ┆ 3.9178644763860 ┆ 6.1574264202601 ┆ 1.4045174537987 ┆ 6.157426420260 ┆ 4            │
│            ┆ 4               ┆                 ┆ 7               ┆ 1              ┆              │
│ 4          ┆ NA              ┆ NA              ┆ NA              ┆ NA             ┆ NA           │
│ 5          ┆ NA              ┆ NA              ┆ NA              ┆ NA             ┆ NA           │
└────────────┴─────────────────┴─────────────────┴─────────────────┴────────────────┴──────────────┘

In [20]:
# Create a dataframe containing: SUBJECT_ID, ATOPIC_DERM_START, ATOPIC_DERM_END, FIRST_ASTHMARX, LAST_ASTHMARX, and NUM_ASTHMARX
derm_df = filtered_df.select(pl.col('SUBJECT_ID', 'ATOPIC_DERM_START', 'ATOPIC_DERM_END', 'FIRST_ASTHMARX', 'LAST_ASTHMARX', 'NUM_ASTHMARX'))

derm_df.head()

shape: (5, 6)
┌────────────┬─────────────────┬─────────────────┬─────────────────┬────────────────┬──────────────┐
│ SUBJECT_ID ┆ ATOPIC_DERM_STA ┆ ATOPIC_DERM_END ┆ FIRST_ASTHMARX  ┆ LAST_ASTHMARX  ┆ NUM_ASTHMARX │
│ ---        ┆ RT              ┆ ---             ┆ ---             ┆ ---            ┆ ---          │
│ i64        ┆ ---             ┆ str             ┆ str             ┆ str            ┆ str          │
│            ┆ str             ┆                 ┆                 ┆                ┆              │
╞════════════╪═════════════════╪═════════════════╪═════════════════╪════════════════╪══════════════╡
│ 1          ┆ NA              ┆ NA              ┆ NA              ┆ NA             ┆ NA           │
│ 2          ┆ NA              ┆ NA              ┆ 12.262833675564 ┆ 18.88021902806 ┆ 2            │
│            ┆                 ┆                 ┆ 7               ┆ 3              ┆              │
│ 3          ┆ 4.8843258042436 ┆ NA              ┆ 1.4045174537987 ┆ 6.157426420260 ┆ 4            │
│            ┆ 7               ┆                 ┆ 7               ┆ 1              ┆              │
│ 4          ┆ NA              ┆ NA              ┆ NA              ┆ NA             ┆ NA           │
│ 5          ┆ NA              ┆ NA              ┆ NA              ┆ NA             ┆ NA           │
└────────────┴─────────────────┴─────────────────┴─────────────────┴────────────────┴──────────────┘

In [22]:
# Export asthma_df, rhinitis_df, and derm_df as csv files
asthma_df.write_csv('asthma.csv')

rhinitis_df.write_csv('rhinitis.csv')

derm_df.write_csv('dermatitis.csv')